---
- name: Install Nginx
  apt:
    name: nginx
    state: present
  become: yes

- name: Template the upstream configuration
  template:
    src: nginx_upstream.j2
    dest: "{{ nginx_conf_path }}"
    owner: root
    group: root
    mode: '0644'
  become: yes
  notify: Reload Nginx

- name: Remove default Nginx site
  file:
    path: /etc/nginx/sites-enabled/default
    state: absent
  become: yes
  notify: Reload Nginx

- name: Start and enable Nginx
  systemd:
    name: nginx
    enabled: yes
    state: started
  become: yes
